.sameImg {
    width: 30%;
    height: 30%;
    margin: 0 auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.sameIcon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.centerImg{
    display:inline !important;
    height : 293px !important;
    width : 293px !important;
}